
@{
    ViewData["Title"] = "Quản lý nhà xuất bản";
}

<div class="row">
    <div class="col-md-6">
        <h2 class="text-primary">@ViewData["Title"]</h2>
    </div>
    <div class="col-md-6 text-end">
        <a class="btn btn-primary" asp-action="Upsert">
            <span class="fas fa-plus"></span>&nbsp;Tạo Mới
        </a>
    </div>
</div>

<div class="p-4 border-top border-bottom">
    <table id="datatable-publisher" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-info">
            <tr>
                <th>Tên của nhà xuất Bản</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/datatable/publisher.js"></script>
    <script src="~/js/datatable/confirm-delete.js"></script>
}

